#projectname{

    font: size 150%;
    color: black;

}


.carouselBackground{

    width:360px;
    height:50%;
    margin: center;

}


.carousel-inner > .item > img { width:50%; height:50%; }

#heading {
    font-size: 1.5em!important;
}


  