#projectname{

    font: size 150%;
    color: black;

}


.carouselBackground{

    width:360px;
    height:50%;
    margin: center;
    margin-top: 50px;

}

#carousel{
    align-self: center;
padding-top: 100px;
width: 1200px;
height: 600px;


}



.carousel-inner > .item > img { width:50%; height:50%; }

#heading {
    font-size: 1.5em!important;
}


  