.cards-z{

    z-index: 0;
    background: #ffffff;
    margin: 0 auto;
    height: 100%;
    


}

.Container{

   margin: 100 auto;


}

.card-footer{


      /* background: blue;
      vertical-align: bottom;
      margin-top: 5px;
      flex-direction: column; */

      position: relative;
      align-items: flex-end;
      align-items: baseline;
    
     
      bottom: 10px;
        

}



