.nav{

    position: fixed;
    width: 100%;
    z-index: 30;    
    opacity: 0.9;
    margin-top: 0;
    padding-top: 0;


}

Nav.Link{

    color: white;
    text-decoration:none; 
}
  
Nav.Link:visited{

  color: white;
  text-decoration:none; 

}

Nav.Link:hover{

  color: white;
  text-decoration:none; 

  
}

Nav.Link:active{

  color: white;
  text-decoration:none; 

  
}

a,a:hover,a:visited,a:active
{

  color:white;
  text-decoration:none; 

}

#allLinks{

  color:white;
  text-decoration: none;

}

.mr-auto:hover {

  color: white;
  text-decoration:none; 

}









