.nav{

    position: fixed;
    width: 100%;
    z-index: 30;    
    opacity: 0.9;
    margin-top: 0;
    padding-top: 0;
    text-decoration:none; 

}

.navbar-custom { 
  background-color: lightgreen; 
  text-decoration:none; 
} 


Nav.Link{

    color: white;
    text-decoration:none; 
   
}
  

Nav.Link:visited{

  color: white;
  text-decoration:none; 
  text-decoration:none; 

}

Nav.Link:hover{

  color: white;
  text-decoration:none; 
 

  
}

Nav.Link:active{

  color: white;
  text-decoration:none; 
 
}
.nounderline {
  text-decoration: none !important
}

a:hover .btn-group { text-decoration: none }
a .btn-group:hover { text-decoration: none }
a:hover .btn-group .btn { text-decoration: none }
a .btn-group .btn:hover { text-decoration: none }

.mr-auto:hover {

  color: white;
  text-decoration:none; 

}
.navbar-inverse{
text-decoration:none; 
}

.navbar{
  background-color: #3d3d3d;
  opacity: 0.9;
  text-decoration:none; 
}

.d-none {
  padding-left: 10px;
  padding-bottom: 100px;
  text-decoration:none; 
}

.fa{

  padding-left: 20px;
  margin-bottom: center;
  text-decoration:none; 
}


.btn1:hover {
  text-decoration:none; 
}

.navbar-nav li:hover {
  display: block;
  background-color: white;
  text-decoration:none; 
} 

.d-sm-inline{
  text-decoration:none; 
} 






img {
    opacity: 1;
}