#laalu{

    width: 100%;
    height: 50 0px;
    margin-bottom: 0;
    text-align: center;
    font-size: 300%;
  
    


}

#heading-text{

    font-size:200%;
    padding-top: 135px;
    padding-bottom: 135px;

}